<launch>
  <node name="stage" pkg="stage_ros" type="stageros" args="$(find stage_ros)/world/willow-erratic.world"/>
  <node name="client_scb_nod" pkg="action_lib_scb" type="client_scb_node"/>
  <param name="goal_x" value="18" />
  <param name="goal_y" value="20" />
  <param name="goal_theta" value="45" />
  <node name="send_goals_node" pkg="send_goals" type="send_goals_node" output="screen"/>
</launch>
